@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  font-size: 96%;
}

a {
  text-decoration: none;
  display: inline-block;
}
a:hover {
  text-decoration: none;
}

body {
  font-family: Manrope;
  overflow-x: hidden;
  color: #000;
}

ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.btn-sec a:not(:last-child) {
  margin-right: 0.6875rem;
}

.glb-btn {
  padding: 0.63rem 1.75rem;
  border-radius: 0.5rem;
  color: var(--Neutral-White, #fff);
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: var(--Brand-Blue, #2870fb);
}
.glb-btn.wh {
  color: var(--Brand-Blue, #2870fb);
  text-align: center;
  font-family: Manrope;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  background: #fff;
}

.all-center-except-left table tr > td:not(:first-of-type),
.all-center-except-left table tr th:not(:first-of-type) {
  text-align: center;
}

.page-wrap {
  display: flex;
}
.page-wrap .content-wrap {
  width: 81%;
  position: fixed;
  right: 0;
  height: 100vh;
  overflow-y: auto;
}
.page-wrap .main-content {
  padding: 0 3rem 0 2rem;
  min-height: calc(100vh - 160px);
}
.page-wrap .sidebar {
  width: 19%;
}

.sidebar {
  padding: 1.12rem 1.5rem 3.75rem;
  border-right: 1px solid var(--Stroke, #e3e3e5);
  background: var(--BG, #fafbfb);
  height: 100vh;
  overflow-y: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  position: fixed;
  left: 0;
}
.sidebar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.sidebar .logo-sec {
  margin-bottom: 2.5rem;
}
.sidebar .side-nav li > a {
  padding: 0.75rem 0.5rem;
  padding-right: 2rem;
  color: var(--Text-Manrope, #0f1d3b);
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
}
.sidebar .side-nav li > a img {
  margin-right: 1rem;
}
.sidebar .side-nav li.active a {
  background: var(--Brand-Blue, #2870fb);
  color: #fff;
}
.sidebar .side-nav li.active a img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7466%) hue-rotate(88deg) brightness(100%) contrast(103%);
}
.sidebar .side-nav li.has-sub {
  margin-bottom: 1.25rem;
}
.sidebar .side-nav li.has-sub > a {
  position: relative;
  margin-bottom: 0.19rem;
}
.sidebar .side-nav li.has-sub > a::before {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  background: url("../images/dropdown.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.sidebar .side-nav li.has-sub li {
  overflow: hidden;
  position: relative;
}
.sidebar .side-nav li.has-sub li a {
  width: 88%;
  margin-left: auto;
  padding: 0.5rem;
  margin-bottom: 0.19rem;
  color: var(--Text-Manrope, #0f1d3b);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: var(--BG, #fafbfb);
  position: relative;
  z-index: 2;
}
.sidebar .side-nav li.has-sub li::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 1rem;
  top: -45%;
  border: 1px solid #e5e3e5;
  border-radius: 0.6rem;
  z-index: 1;
}
.sidebar .side-nav li.has-sub li:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 1rem;
  bottom: 0;
  height: 100%;
  width: 0.0625rem;
  background: #e5e3e5;
}
.sidebar .upgrade {
  margin-top: 5rem;
  border-radius: 0.75rem;
  background: var(--Brand-Blue, #2870fb);
  padding: 0.75rem 1.75rem 1.25rem;
  text-align: center;
}
.sidebar .upgrade img {
  margin-bottom: 0.61rem;
}
.sidebar .upgrade h4 {
  color: #fff;
  font-size: 1rem;
  text-align: left;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 1.06rem;
}
.sidebar .upgrade h4 span {
  font-weight: 700;
}
.sidebar .upgrade .glb-btn {
  width: 100%;
}

header {
  padding: 1.13rem 3rem 1.13rem 2rem;
  border-bottom: 1px solid var(--Stroke, #e3e3e5);
  background: #fff;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
}
header h3 {
  color: #0f1d3b;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
}

.header-profile-portion {
  display: flex;
  justify-content: flex-end;
}
.header-profile-portion li a {
  margin-left: 1.75rem;
}
.header-profile-portion li:not(.profile) a {
  padding: 0.63rem;
  border-radius: 0.5rem;
  background: var(--Very-light-gray, #f4f4f4);
}
.header-profile-portion .profile {
  display: flex;
}
.header-profile-portion .profile a {
  display: flex;
  gap: 0 0.75rem;
  align-items: center;
  padding-right: 2.25rem;
  position: relative;
}
.header-profile-portion .profile a::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../images/user-drop.svg");
  background-repeat: no-repeat;
}
.header-profile-portion .profile a .tx h5 {
  color: var(--Text-Manrope, #0f1d3b);
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
}
.header-profile-portion .profile a .tx h6 {
  overflow: hidden;
  color: var(--Text-Inter, #898b97);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
}

.search-score {
  border-radius: 1rem;
  border: 1px solid var(--Stroke, #e3e3e5);
  background: var(--Neutral-White, #fff);
  padding: 1.25rem;
  margin: 2.5em 0;
  position: relative;
}
.search-score::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 0.04rem;
  background: #e3e3e5;
}
.search-score .inner-wrap {
  display: flex;
  gap: 0 2.5rem;
  padding-right: 5.06rem;
}
.search-score .inner-wrap img {
  display: block;
  width: 7.75rem;
  height: 7.75rem;
}
.search-score .right h4 {
  color: var(--Text-Manrope, #0f1d3b);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0.6rem;
}
.search-score .right p {
  color: var(--Text-Inter, #898b97);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
}
.search-score h5 {
  color: var(--Text-Manrope, #0f1d3b);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 1.25rem;
}
.search-score h6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Brand-Deep-blue, #0f1d3b);
  text-align: center;
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.06rem;
}
.search-score .tx h4 {
  color: var(--Text-Manrope, #0f1d3b);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0.25rem 0;
}
.search-score .tx p {
  color: var(--Text-Inter, #898b97);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0.75rem;
}
.search-score .tx .glb-btn {
  color: var(--Text-Manrope, #0f1d3b);
  text-align: center;
  font-family: Manrope;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  border-radius: 0.5rem;
  border: 1px solid var(--Stroke, #e3e3e5);
  background: transparent;
}

.stats .stats-card {
  display: flex;
  gap: 0 1rem;
  padding: 1.37rem 1.19rem;
  border-radius: 1rem;
  border: 1px solid var(--Stroke, #e3e3e5);
  background: var(--Neutral-White, #fff);
  margin-bottom: 2.5rem;
}
.stats .stats-card .image {
  width: 5.0625rem;
  height: 5rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stats .stats-card .tx h5 {
  color: var(--Text-Manrope, #0f1d3b);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
}
.stats .stats-card .tx h3 {
  color: var(--Text-Manrope, #0f1d3b);
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
}
.stats .stats-card .tx a {
  color: var(--Other-Color-Sky-blue, #5a86fc);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: lowercase;
}
.stats .stats-card.purple .image {
  background: var(--Other-Color-Violet, rgba(154, 76, 251, 0.1));
}
.stats .stats-card.orange .image {
  background: var(--Brand-Orange, rgba(248, 128, 100, 0.2));
}
.stats .stats-card.green .image {
  background: var(--Other-Color-Green, rgba(65, 233, 133, 0.2));
}
.stats .stats-card.blue .image {
  background: var(--Brand-Blue, rgba(40, 112, 251, 0.2));
}

.profile-views {
  padding: 1.25rem;
  border-radius: 1rem;
  border: 1px solid var(--Stroke, #e3e3e5);
  background: var(--Neutral-White, #fff);
}
.profile-views h5 {
  color: var(--Text-Manrope, #0f1d3b);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
}
.profile-views .select-wrp {
  border: 1px solid var(--Stroke, #e3e3e5);
  background: var(--Neutral-White, #fff);
  display: inline-flex;
  gap: 0 0.5rem;
  border-radius: 0.375rem;
  position: relative;
  cursor: pointer;
}
.profile-views .select-wrp > img {
  position: absolute;
  left: 0.75rem;
  top: 0.89rem;
}
.profile-views .select-wrp::after {
  content: "";
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  width: 0.54875rem;
  height: 0.48706rem;
  background: url("../images/select-down.svg");
  background-repeat: no-repeat;
}
.profile-views .select-wrp select {
  cursor: pointer;
  border: 0px;
  outline: none;
  padding: 0.62rem 1.7rem 0.62rem 2.25rem;
  border-radius: 0.375rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}
.profile-views .select-wrp select:focus {
  border: 0px;
}
.profile-views > img {
  display: block;
  margin-top: 0.44rem;
  width: 100%;
}

.notification {
  padding: 1.25rem;
  border-radius: 1rem;
  border: 1px solid var(--Stroke, #e3e3e5);
  background: var(--Neutral-White, #fff);
}
.notification h5 {
  color: var(--Text-Manrope, #0f1d3b);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
}
.notification .select-wrp {
  border: 1px solid var(--Stroke, #e3e3e5);
  background: var(--Neutral-White, #fff);
  display: inline-flex;
  gap: 0 0.5rem;
  border-radius: 0.375rem;
  position: relative;
  cursor: pointer;
}
.notification .select-wrp > img {
  position: absolute;
  left: 0.75rem;
  top: 0.89rem;
}
.notification .select-wrp::after {
  content: "";
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  width: 0.54875rem;
  height: 0.48706rem;
  background: url("../images/select-down.svg");
  background-repeat: no-repeat;
}
.notification .select-wrp select {
  cursor: pointer;
  border: 0px;
  outline: none;
  padding: 0.62rem 1.7rem 0.62rem 2.25rem;
  border-radius: 0.375rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}
.notification .select-wrp select:focus {
  border: 0px;
}
.notification .updates {
  margin-top: 0.44rem;
}
.notification .updates li {
  padding-left: 1rem;
  position: relative;
}
.notification .updates li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.3rem;
  width: 0.4375rem;
  height: 0.4375rem;
  background: #fff;
  border: 3px solid #2870fb;
  border-radius: 50%;
  z-index: 2;
}
.notification .updates li::after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0.2rem;
  top: 0.7rem;
  height: 120%;
  width: 1px;
  background: #eeeff1;
}
.notification .updates li h6 {
  color: var(--Text-Inter, #898b97);
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0.25rem;
}
.notification .updates li p {
  color: var(--Text-Manrope, #0f1d3b);
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 21.6rem;
}
.notification .updates li p a {
  color: var(--Other-Color-Sky-blue, #5a86fc);
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.notification .updates li:last-child p {
  margin-bottom: 0;
}
.notification .updates li:last-child::after {
  content: none;
}

.prof-activity {
  margin: 2.5rem 0 2rem;
  padding: 1.25rem;
  border-radius: 1rem;
  border: 1px solid var(--Stroke, #e3e3e5);
  background: var(--Neutral-White, #fff);
}
.prof-activity h5 {
  color: var(--Text-Manrope, #0f1d3b);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
}
.prof-activity .table-sec {
  margin-top: 1.25rem;
}
.prof-activity .table-sec table {
  width: 100%;
}
.prof-activity .table-sec table tr td:nth-child(1),
.prof-activity .table-sec table tr th:nth-child(1) {
  text-align: left;
  max-width: 11.125rem;
}
.prof-activity .table-sec table tr td:nth-child(2),
.prof-activity .table-sec table tr th:nth-child(2) {
  text-align: center;
}
.prof-activity .table-sec table tr td:nth-child(3),
.prof-activity .table-sec table tr th:nth-child(3) {
  text-align: right;
}
.prof-activity .table-sec table tbody tr {
  border-top: 1px solid #e3e3e5;
}
.prof-activity .table-sec table tbody tr:last-child .prof {
  padding-bottom: 0;
}
.prof-activity .table-sec td,
.prof-activity .table-sec th {
  color: var(--Dark-grey, #3f4b63);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0.75rem;
}
.prof-activity .table-sec .prof {
  display: flex;
  align-items: center;
  gap: 0 0.63rem;
}
.prof-activity .table-sec .prof h6 {
  color: var(--Text-Manrope, #0f1d3b);
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0.38rem;
  text-overflow: ellipsis;
}
.prof-activity .table-sec .prof a {
  overflow: hidden;
  color: var(--Brand-Blue, #2870fb);
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
}

.campaigns {
  margin: 2.5rem 0 2rem;
  padding: 1.25rem;
  border-radius: 1rem;
  border: 1px solid var(--Stroke, #e3e3e5);
  background: var(--Neutral-White, #fff);
}
.campaigns h5 {
  color: var(--Text-Manrope, #0f1d3b);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
}
.campaigns .table-sec {
  margin-top: 1.25rem;
}
.campaigns .table-sec table {
  width: 100%;
}
.campaigns .table-sec table tr td:nth-child(1),
.campaigns .table-sec table tr th:nth-child(1) {
  text-align: left;
  max-width: 12.125rem;
}
.campaigns .table-sec table tr td:nth-child(3),
.campaigns .table-sec table tr th:nth-child(3) {
  text-align: center;
}
.campaigns .table-sec table tr td:nth-child(4),
.campaigns .table-sec table tr th:nth-child(4) {
  text-align: right;
}
.campaigns .table-sec table tbody tr {
  border-top: 1px solid #e3e3e5;
}
.campaigns .table-sec table tbody tr:last-child .prof {
  padding-bottom: 0;
}
.campaigns .table-sec td,
.campaigns .table-sec th {
  color: var(--Dark-grey, #3f4b63);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0.75rem;
}
.campaigns .table-sec td img,
.campaigns .table-sec th img {
  margin-right: 0.25rem;
}
.campaigns .table-sec .prof {
  display: flex;
  align-items: center;
  gap: 0 0.63rem;
}
.campaigns .table-sec .prof h6 {
  color: var(--Text-Manrope, #0f1d3b);
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0.38rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  max-width: 174px;
}
.campaigns .table-sec .prof a {
  overflow: hidden;
  color: var(--Brand-Blue, #2870fb);
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
}
.campaigns .table-sec .range {
  display: block;
  border-radius: 1rem;
  background: var(--Brand-Off-white, #eeeff1);
  width: 6.25rem;
  height: 0.5rem;
  position: relative;
}
.campaigns .table-sec .range.green span,
.campaigns .table-sec .range.green label {
  background: var(--Other-Color-Green, #41e985);
}
.campaigns .table-sec .range.orange span,
.campaigns .table-sec .range.orange label {
  background: var(--Brand-Orange, #f88064);
}
.campaigns .table-sec .range.red span,
.campaigns .table-sec .range.red label {
  background: var(--Other-Color-Red, #fb4545);
}
.campaigns .table-sec .range span {
  display: block;
  width: 60%;
  height: 100%;
  border-radius: 1rem;
}
.campaigns .table-sec .range label {
  cursor: pointer;
  position: absolute;
  left: 60%;
  margin-left: -0.5rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.0625rem;
  height: 1.0625rem;
  background: #f88064;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
  color: #fff;
  font-size: 0.375rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

footer {
  padding: 0.698rem 0;
  border-top: 1px solid var(--Stroke, #e3e3e5);
  background: var(--Neutral-White, #fff);
}
footer h6 {
  color: var(--Text-Inter, #898b97);
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
}

.breadcumb {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
}
.breadcumb li {
  color: #0f1d3b;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.breadcumb li a {
  color: #0f1d3b;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
}
.breadcumb li a::after {
  content: "";
  display: inline-block;
  height: 8px;
  width: 8px;
  background: url("../images/r-arr.png");
  background-repeat: no-repeat;
  margin: 0 0.5rem 0;
}

.search-sec input:not([type=submit]) {
  width: 100%;
  padding: 0.6rem 0.5rem 0.6rem 2.19rem;
  border-radius: 0.375rem;
  border: 1px solid var(--Stroke, #e3e3e5);
  background: var(--Neutral-White, #fff);
  color: #000;
  padding-right: 6rem;
}
.search-sec input:not([type=submit]):focus {
  outline: none;
}
.search-sec input:not([type=submit])::-moz-placeholder {
  color: var(--Neutral-Light-Gray, #aeaec3);
  font-family: Manrope;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.search-sec input:not([type=submit])::placeholder {
  color: var(--Neutral-Light-Gray, #aeaec3);
  font-family: Manrope;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.search-sec .input-wrp {
  position: relative;
}
.search-sec .input-wrp > img {
  position: absolute;
  left: 0.75rem;
  top: 1rem;
}
.search-sec .input-wrp input[type=submit] {
  position: absolute;
  right: 0.5rem;
  top: 0.47rem;
  color: var(--Neutral-White, #fff);
  text-align: center;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 0.34rem 0.75rem;
  border-radius: var(--Shadow-Y-axis, 0.25rem);
  background: var(--Brand-Blue, #2870fb);
  border: 0px;
  outline: none;
}

.select-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 0 0.94rem;
}
.select-wrapper .select-wrp {
  border: 1px solid var(--Stroke, #e3e3e5);
  background: var(--Neutral-White, #fff);
  display: inline-flex;
  gap: 0 0.5rem;
  border-radius: 0.375rem;
  position: relative;
  cursor: pointer;
}
.select-wrapper .select-wrp > img {
  position: absolute;
  left: 0.75rem;
  top: 0.69rem;
}
.select-wrapper .select-wrp::after {
  content: "";
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  width: 0.54875rem;
  height: 0.38706rem;
  background: url("../images/select-down.svg");
  background-repeat: no-repeat;
}
.select-wrapper .select-wrp select {
  cursor: pointer;
  border: 0px;
  outline: none;
  padding: 0.62rem 1.7rem 0.62rem 2.25rem;
  border-radius: 0.375rem;
  color: #0f1d3b;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}
.select-wrapper .select-wrp select:focus {
  border: 0px;
}
.select-wrapper .select-wrp.img-less select {
  padding: 0.62rem 0.95rem 0.62rem 0.75rem;
}

.table-wrap {
  margin-top: 2.5rem;
  border-radius: 1rem;
  border: 1px solid #e3e3e5;
}
.table-wrap table {
  width: 100%;
}
.table-wrap table button {
  padding: 0.31rem 0.97rem;
  border-radius: 0.5rem;
  background: #f6fef9;
  color: #000;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.table-wrap table button.open {
  border: 1px solid #01ae5a;
  color: #309269;
}
.table-wrap table button.closed {
  border-radius: 0.5rem;
  border: 1px solid #de4141;
  background: #fef6f6;
  color: #de4141;
}
.table-wrap table tbody tr {
  border-top: 1px solid #e3e3e5;
}
.table-wrap table td,
.table-wrap table th {
  padding: 0.81rem 1rem;
}
.table-wrap table td img {
  margin-right: 0.5rem;
}
.table-wrap table .prof {
  display: flex;
  align-items: center;
  gap: 0 0.63rem;
}
.table-wrap table .prof h6 {
  color: var(--Text-Manrope, #0f1d3b);
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0.38rem;
  text-overflow: ellipsis;
}
.table-wrap table .prof a {
  overflow: hidden;
  color: var(--Brand-Blue, #2870fb);
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
}
.table-wrap table .prof small {
  color: var(--Brand-Blue, #2870fb);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: block;
}

.pagination {
  display: flex;
  padding: 1.25rem;
  gap: 0 0.31rem;
  justify-content: flex-end;
  border-top: 1px solid #e3e3e5;
}
.pagination li a {
  padding: 0.41rem 0.75rem;
  border-radius: var(--Shadow-Y-axis, 0.25rem);
  border: 1px solid var(--Brand-Off-white, #eeeff1);
  background: var(--Neutral-White, #fff);
  color: var(--Text-Inter, #898b97);
  font-family: Manrope;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.pagination li a:hover {
  border-radius: var(--Shadow-Y-axis, 0.25rem);
  background: var(--Brand-Blue, #2870fb);
  color: #fff;
}
.pagination li span {
  color: var(--Text-Inter, #898b97);
  font-family: Manrope;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0 1rem;
}
.pagination li.next img {
  transform: rotate(180deg);
}
.pagination li.prev a, .pagination li.next a {
  display: flex;
  gap: 0 0.63rem;
}
.pagination li.active a {
  border-radius: var(--Shadow-Y-axis, 0.25rem);
  background: var(--Brand-Blue, #2870fb);
  color: #fff;
}
.pagination li.active a img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7485%) hue-rotate(277deg) brightness(106%) contrast(105%);
}

.applied-listing-table {
  margin-bottom: 1.06rem;
}

.chat-sidebar {
  border-right: 1px solid var(--Stroke, #e3e3e5);
  height: calc(100vh - 125px);
  overflow-y: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  width: 34%;
}
.chat-sidebar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.chat-sidebar .chat-search-sec {
  padding: 1.12rem 1.5rem;
  border-bottom: 1px solid #e3e3e5;
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 2;
}
.chat-sidebar .chat-search-sec .input-wrp {
  position: relative;
}
.chat-sidebar .chat-search-sec .input-wrp > img {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
}
.chat-sidebar .chat-search-sec .input-wrp input {
  width: 100%;
  padding: 0.75rem;
  padding-left: 2.5rem;
  border-radius: 0.5rem;
  background: var(--Brand-Almost-white, #f6f8ff);
  border: 0px;
  outline: none;
  color: var(--Neutral-Light-Gray, #000);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.chat-sidebar .chat-search-sec .input-wrp input:focus {
  outline: none;
  border: 0px;
}
.chat-sidebar .chat-search-sec .input-wrp input::-moz-placeholder {
  color: #aeaec3;
}
.chat-sidebar .chat-search-sec .input-wrp input::placeholder {
  color: #aeaec3;
}
.chat-sidebar .chat-contacts {
  padding: 1.5rem;
}
.chat-sidebar .chat-contacts li {
  display: flex;
  justify-content: space-between;
  padding: 0.62rem 0.5rem;
  margin-bottom: 1rem;
  position: relative;
  cursor: pointer;
}
.chat-sidebar .chat-contacts li::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 100%;
  height: 0.05rem;
  background: #e3e3e5;
}
.chat-sidebar .chat-contacts li .user-details {
  display: flex;
  gap: 0 0.62rem;
}
.chat-sidebar .chat-contacts li .user-details .image {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  position: relative;
}
.chat-sidebar .chat-contacts li .user-details .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.chat-sidebar .chat-contacts li .user-details .image > span {
  width: 0.5rem;
  height: 0.5rem;
  display: block;
  background: #41e985;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  bottom: -0.0625rem;
  right: 0.25rem;
}
.chat-sidebar .chat-contacts li .user-details .tx h5 {
  color: var(--Text-Manrope, #0f1d3b);
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0.37rem;
}
.chat-sidebar .chat-contacts li .user-details .tx p {
  overflow: hidden;
  color: var(--Text-Inter, #898b97);
  text-overflow: ellipsis;
  font-family: Manrope;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
}
.chat-sidebar .chat-contacts li .message-details {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.chat-sidebar .chat-contacts li .message-details h6 {
  color: #fff;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 1.25rem;
  height: 1rem;
  width: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 0.7rem;
  background: var(--Other-Color-Red, #fb4545);
}
.chat-sidebar .chat-contacts li .message-details small {
  overflow: hidden;
  color: var(--Text-Inter, #898b97);
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.chat-sidebar .chat-contacts li.active {
  border-radius: 0.5rem;
  border: 2px solid #ffde69;
  background: #fffefa;
}
.chat-sidebar .chat-contacts li.active .image {
  width: 3rem;
  height: 3rem;
}

.influencer-message-sec1 {
  display: flex;
}

.chat-window {
  width: 76%;
}
.chat-window .chathead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.91rem 1.25rem;
  border-bottom: 1px solid #e3e3e5;
}
.chat-window .chathead .imgsection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.9375rem;
}
.chat-window .chathead .imgsection .imgcontainer {
  position: relative;
}
.chat-window .chathead .imgsection .imgcontainer:before {
  content: "";
  width: 0.5625rem;
  height: 0.5625rem;
  flex-shrink: 0;
  position: absolute;
  background-color: var(--Green, #0cb230);
  border-radius: 50%;
  border: 0.0625rem solid white;
  bottom: 0.125rem;
  right: 0.125rem;
}
.chat-window .chathead .imgsection h5 {
  color: var(--Text-Manrope, #0f1d3b);
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0.25rem;
}
.chat-window .chathead .imgsection h6 {
  overflow: hidden;
  color: var(--Text-Inter, #898b97);
  text-overflow: ellipsis;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
  display: flex;
}
.chat-window .chathead .imgsection h6 img {
  margin-left: 0.5rem;
  margin-right: 0.25rem;
}
.chat-window .chathead .imgsection h6 span {
  overflow: hidden;
  color: var(--Text-Manrope, #0f1d3b);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.chat-window .chathead .options {
  display: flex;
  align-items: center;
  gap: 0 0.62rem;
}
.chat-window .chatbody {
  border-top: none;
  border-bottom: none;
  background: var(--Other-White, #fff);
  overflow-y: auto;
  padding: 1.25rem;
  gap: 0.8125rem;
  height: calc(100vh - 293px);
}
.chat-window .chatbody::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}
.chat-window .chatbody::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}
.chat-window .chatbody::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--Brand-Blue, #2870fb);
}
.chat-window .chatbody .scroller {
  height: 100%;
}
.chat-window .chatbody .scroller > .row:not(.today):not(:last-of-type) {
  margin-bottom: 3.75rem;
}
.chat-window .chatbody .today {
  overflow: hidden;
  color: var(--Text-Inter, #898b97);
  text-align: center;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.0313rem;
  margin: 2.0625rem 0;
  display: block;
}
.chat-window .chatbody .incomingmsg .msgblock {
  max-width: 29.375rem;
  display: flex;
  gap: 0 0.5rem;
}
.chat-window .chatbody .incomingmsg .msgblock h6 {
  overflow: hidden;
  color: var(--Text-Manrope, #0f1d3b);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.chat-window .chatbody .incomingmsg .msgblock h6 span {
  margin-left: 0.75rem;
  overflow: hidden;
  color: var(--Text-Inter, #898b97);
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.chat-window .chatbody .incomingmsg .msgblock .image {
  width: 2.5rem;
  height: 2.5rem;
}
.chat-window .chatbody .incomingmsg .msgblock .msgbody {
  border-radius: 0.25rem 0.75rem 0.75rem 0.75rem;
  overflow: hidden;
  width: 85%;
}
.chat-window .chatbody .incomingmsg .msgblock .msgbody p {
  color: var(--Other-Black, #000);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.0437rem;
  margin-bottom: 0.5625rem;
}
.chat-window .chatbody .incomingmsg .msgblock .msgbody .msg {
  border-radius: 0.25rem 1.25rem 1.25rem 1.25rem;
  background: var(--Brand-Almost-white, #f6f8ff);
  padding: 0.87rem 0.75rem;
}
.chat-window .chatbody .incomingmsg .msgblock .msgbody .msg p {
  color: var(--Text-Manrope, #0f1d3b);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.chat-window .chatbody .outgoingmsg {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.chat-window .chatbody .outgoingmsg .msgblock {
  max-width: 29.375rem;
  display: flex;
  gap: 0 0.5rem;
}
.chat-window .chatbody .outgoingmsg .msgblock h6 {
  overflow: hidden;
  color: var(--Text-Manrope, #0f1d3b);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: right;
}
.chat-window .chatbody .outgoingmsg .msgblock h6 span {
  margin-left: 0.75rem;
  overflow: hidden;
  color: var(--Text-Inter, #898b97);
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 0.69rem;
}
.chat-window .chatbody .outgoingmsg .msgblock .image {
  width: 2.5rem;
  height: 2.5rem;
  order: 2;
}
.chat-window .chatbody .outgoingmsg .msgblock .msgbody {
  border-radius: 0.25rem 0.75rem 0.75rem 0.75rem;
  overflow: hidden;
  width: 85%;
  order: 1;
}
.chat-window .chatbody .outgoingmsg .msgblock .msgbody p {
  color: var(--Other-Black, #000);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.0437rem;
  margin-bottom: 0.5625rem;
}
.chat-window .chatbody .outgoingmsg .msgblock .msgbody .msg {
  border-radius: 1.25rem 0.25rem 1.25rem 1.25rem;
  background: var(--Brand-Blue, #2870fb);
  padding: 0.87rem 0.75rem;
}
.chat-window .chatbody .outgoingmsg .msgblock .msgbody .msg p {
  color: #fff;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0.1rem;
}
.chat-window .chatfoot {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-top: none;
  padding: 1.25rem;
}
.chat-window .chatfoot ul.sending-options {
  margin-right: 0.62rem;
  display: flex;
  align-items: center;
  gap: 0 0.81rem;
}
.chat-window .chatfoot ul.sending-options li a {
  position: relative;
  overflow: hidden;
}
.chat-window .chatfoot ul.sending-options li a input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}
.chat-window .chatfoot .sendbtn {
  width: 2.5rem;
  border-radius: 0.5rem;
  background: #f6f8ff url(../images/send.svg) no-repeat center center;
  height: 2.5rem;
  border: none;
  cursor: pointer;
}
.chat-window .chatfoot .chatfootinnerhasbg {
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: 0.5rem;
  gap: 0.5rem;
}
.chat-window .chatfoot .file {
  width: 1.5rem;
}
.chat-window .chatfoot .file img {
  width: 100%;
}
.chat-window .chatfoot input[type=text] {
  width: 100%;
  margin-bottom: 0;
  color: var(--gray, #000);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  border: none;
  padding: 0.81rem 0.75rem;
  border-radius: 0.5rem;
  background: var(--Brand-Almost-white, #f6f8ff);
}
.chat-window .chatfoot input[type=text]::-moz-placeholder {
  color: var(--gray, #c9c9c9);
}
.chat-window .chatfoot input[type=text]::placeholder {
  color: var(--gray, #c9c9c9);
}
.chat-window .chatfoot input[type=text]:focus {
  border: 0px;
  outline: none;
}

.sm-bt {
  display: inline-block;
  padding: 0.25rem !important;
  border-radius: 0.375rem;
  border: 1px solid var(--Brand-Off-white, #eeeff1);
  background: var(--Neutral-White, #fff);
  margin-right: 0.81rem;
}
.sm-bt img {
  margin-right: 0 !important;
}

.campaigns-top-sec {
  padding: 0.63rem 0 0;
  margin: 1.75rem 0;
  border-bottom: 1px solid #e3e3e5;
}
.campaigns-top-sec .tabs {
  display: flex;
  gap: 0 0.75rem;
}
.campaigns-top-sec .tabs li a {
  display: block;
  padding: 1.25rem 0.75rem 1.25rem;
  color: var(--Text-Inter, #898b97);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.campaigns-top-sec .tabs li a span {
  color: var(--Text-Manrope, #0f1d3b);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-flex;
  padding: 0.12rem 0.25rem;
  border-radius: 0.25rem;
  background: var(--Very-light-gray, #f4f4f4);
  margin-left: 0.63rem;
}
.campaigns-top-sec .tabs li.active a {
  color: var(--Text-Manrope, #0f1d3b);
  border-bottom: 1px solid #2870fb;
}

.campaign-card {
  padding: 1.5rem;
  border-radius: 1rem;
  border: 1px solid var(--Stroke, #e3e3e5);
  background: var(--Neutral-White, #fff);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.02);
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.75rem;
}
.campaign-card .details {
  max-width: 29.9375rem;
}
.campaign-card .details .prof {
  display: flex;
  align-items: center;
  gap: 0 0.62rem;
  margin-bottom: 1.56rem;
}
.campaign-card .tx h4 {
  color: var(--Text-Manrope, #0f1d3b);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0;
}
.campaign-card .tx p {
  overflow: hidden;
  color: var(--Dark-grey, #3f4b63);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
}
.campaign-card .tags {
  display: flex;
  gap: 0 1.25rem;
}
.campaign-card .tags li a {
  color: var(--Dark-grey, #3f4b63);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0.31rem 0.62rem;
  border-radius: 0.5rem;
  background: var(--Very-light-gray, #f4f4f4);
}
.campaign-card .nums .status {
  display: flex;
  justify-content: flex-end;
  gap: 0 1.25rem;
}
.campaign-card .nums .status li a {
  padding: 0.5rem 0.75rem;
  border-radius: 0.375rem;
  background: var(--Very-light-gray, #f4f4f4);
  color: #3f4b63;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: block;
  border: 1px solid #f4f4f4;
}
.campaign-card .nums .status li.running a {
  color: #309269;
  border-radius: 0.375rem;
  border: 1px solid #01ae5a;
  background: #f6fef9;
}
.campaign-card .nums .status li.butn a {
  border-radius: 0.375rem;
  background: var(--Brand-Blue, #2870fb);
  color: var(--Neutral-White, #fff);
  border: 1px solid #2870fb;
}
.campaign-card .nums .number {
  display: flex;
  margin-top: 2.31rem;
}
.campaign-card .nums .number li {
  padding: 0 1.75rem;
}
.campaign-card .nums .number li:not(:last-child) {
  border-right: 1px solid #898b97;
}
.campaign-card .nums .number li:last-child {
  padding-right: 0;
}
.campaign-card .nums .number li h3 {
  color: var(--Text-Manrope, #0f1d3b);
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.2rem;
  display: flex;
  align-items: center;
  gap: 0 0.56rem;
  margin-bottom: 0;
}
.campaign-card .nums .number li h3 span {
  color: var(--Text-Inter, #898b97);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem; /* 114.286% */
  max-width: 4.5625rem;
}

.campaign-profile {
  border-radius: 1rem;
  overflow: hidden;
}
.campaign-profile .det {
  padding: 0.75rem 5rem;
  background: var(--Brand-Deep-blue, #0f1d3b);
  display: flex;
  gap: 0 1rem;
}
.campaign-profile .tx h4 {
  color: var(--Neutral-White, #fff);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0.25rem;
}
.campaign-profile .tx p {
  overflow: hidden;
  color: var(--Neutral-White, #fff);
  text-overflow: ellipsis;
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0.25rem;
  display: flex;
  gap: 0 0.25rem;
}

.campaign-info {
  padding: 1.25rem 2.5rem;
  border-radius: 0.625rem;
  border: 1px solid var(--Stroke, #e3e3e5);
  background: #fff;
  margin: 2.19rem 0 2.5rem;
  display: flex;
  justify-content: space-between;
}
.campaign-info h5 {
  color: var(--Text-Manrope, #0f1d3b);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0.44rem;
}
.campaign-info h4 {
  color: var(--Text-Manrope, #0f1d3b);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0.44rem;
}
.campaign-info .total {
  padding-left: 6.44rem;
  border-left: 1px solid #e3e3e5;
}
.campaign-info .info-list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-right: 6.14rem;
}
.campaign-info .info-list li {
  text-align: center;
}
.campaign-info .info-list li h5 {
  color: var(--Text-Manrope, #0f1d3b);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0.44rem;
}
.campaign-info .info-list li h4 {
  color: var(--Text-Manrope, #0f1d3b);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0.44rem;
}
.campaign-info .info-list li h6 {
  color: var(--Text-Inter, #898b97);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.milestone {
  margin-bottom: 1rem;
  border-radius: 0.625rem;
  border: 1px solid var(--Stroke, #e3e3e5);
  background: #fff;
  padding: 1.5rem;
}
.milestone .mile-list {
  counter-reset: ordered;
  padding-left: 0;
}
.milestone .mile-list li {
  padding-bottom: 5rem;
  position: relative;
  padding-left: 3.47rem;
  list-style: none;
}
.milestone .mile-list li::before {
  border-radius: 3.125rem;
  border: 2px solid transparent;
  color: #898b97;
  background: var(--Very-light-gray, #f4f4f4);
  content: counter(ordered);
  counter-increment: ordered;
  font-weight: 100;
  left: 0;
  position: absolute;
  display: flex;
  width: 2.25rem;
  height: 2.25rem;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.milestone .mile-list li:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 1rem;
  bottom: 0;
  height: 100%;
  width: 0.16rem;
  background: #e0e0e0;
  z-index: 1;
}
.milestone .mile-list li.complete .status-btn {
  color: #309269;
  border-radius: 0.375rem;
  border: 1px solid #01ae5a;
}
.milestone .mile-list li.complete::before {
  background: #2870fb;
  color: #fff;
}
.milestone .mile-list li.complete::after {
  background: #2870fb;
}
.milestone .mile-list li.processing .status-btn {
  border-radius: 0.375rem;
  border: 1px solid var(--Brand-Blue, #2870fb);
  background: rgba(40, 112, 251, 0.05);
  color: #2870fb;
}
.milestone .mile-list li.processing::before {
  background: #fff;
  border: 1px solid #2870fb;
  color: #2870fb;
}
.milestone .mile-list li h6 {
  color: var(--Text-Inter, #898b97);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 0 0.65rem;
  margin-top: 1.37rem;
}
.milestone .mile-list p {
  color: var(--Text-Inter, #898b97);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.milestone h4 {
  color: var(--Text-Manrope, #0f1d3b);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 1.56rem;
}
.milestone h5 {
  color: var(--Text-Manrope, #0f1d3b);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
}
.milestone .status-btn {
  text-align: center;
  color: transparent;
  border-radius: 0.375rem;
  border: 1px solid transparent;
  background: #f6fef9;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0.5rem 0.75rem;
}
.milestone .flex-wrp {
  display: flex;
  align-items: center;
  gap: 0 1.25rem;
  margin-bottom: 1rem;
}

.addition-campaign-details .brand-contact {
  padding: 1.25rem;
  border-radius: 0.625rem;
  border: 1px solid var(--Stroke, #e3e3e5);
  background: #fff;
  margin-bottom: 1.75rem;
}
.addition-campaign-details .brand-contact h4:not(.prof h4) {
  color: var(--Text-Manrope, #0f1d3b);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid #e3e3e5;
  margin-bottom: 1.25rem;
}
.addition-campaign-details .brand-contact .butn {
  display: block;
  color: var(--Neutral-White, #fff);
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 0.6rem;
  width: 100%;
  border-radius: 0.5rem;
  background: var(--Brand-Blue, #2870fb);
  text-align: center;
}
.addition-campaign-details .brand-contact .prof {
  display: flex;
  align-items: center;
  gap: 0 0.75rem;
  margin-bottom: 1.25rem;
}
.addition-campaign-details .brand-contact .prof h4 {
  color: var(--Text-Manrope, #0f1d3b);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0.38rem;
}
.addition-campaign-details .brand-contact .prof h5 {
  color: var(--Brand-Blue, #2870fb);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
}
.addition-campaign-details .details {
  padding: 1.25rem;
  border-radius: 0.625rem;
  border: 1px solid var(--Stroke, #e3e3e5);
  background: #fff;
  margin-bottom: 1.75rem;
}
.addition-campaign-details .details h4 {
  color: var(--Text-Manrope, #0f1d3b);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid #e3e3e5;
  margin-bottom: 1.25rem;
}
.addition-campaign-details .details h6 {
  color: var(--Text-Inter, #898b97);
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.addition-campaign-details .details h6 span {
  color: var(--Text-Manrope, #0f1d3b);
  text-align: right;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: block;
}
.addition-campaign-details .withdraw-camp {
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid #de4141;
  width: 100%;
  color: #de4141;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.review-top-sec {
  margin-top: 1.5rem;
}
.review-top-sec .breadcumb {
  margin: 0;
}

.review-list > li {
  padding: 1.5rem;
  border-radius: 0.625rem;
  border: 1px solid #e3e3e5;
  background: #fff;
  margin-bottom: 2rem;
}
.review-list .prof {
  display: flex;
  align-items: center;
  gap: 0 0.88rem;
}
.review-list .prof h5 {
  color: var(--Text-Manrope, #0f1d3b);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0.25rem;
}
.review-list .prof h6 {
  color: var(--Brand-Blue, #006aff);
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
}
.review-list .list-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}
.review-list .list-top .rating-date {
  display: flex;
  gap: 0 0.75rem;
  align-items: center;
}
.review-list .list-top .rating-date .stars {
  display: flex;
}
.review-list .list-top .rating-date .stars li img {
  width: 1.5625rem;
  height: 1.5625rem;
}
.review-list .list-top .rating-date h6 {
  color: var(--Text-Manrope, #0f1d3b);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
}
.review-list .list-top .rating-date h6 span {
  color: var(--Text-Inter, #898b97);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 0.75rem;
  padding-left: 0.75rem;
  border-left: 1px solid #e3e3e5;
}
.review-list p {
  color: var(--Brand-Gray, #898b97);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem; /* 155.556% */
  margin-bottom: 0;
}

.backdrop {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
}

.pop-up {
  position: relative;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pop-up .pop-content {
  width: 100%;
}

.review-pop-up .pop-content {
  max-width: 71.6875rem;
  border-radius: 0.625rem;
  background: #fff;
  padding: 1.5rem;
}
.review-pop-up .pop-up-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
  border-bottom: 1px solid #e3e3e5;
  margin-bottom: 1.25rem;
}
.review-pop-up .pop-up-head h4 {
  color: var(--Text-Manrope, #0f1d3b);
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0;
}/*# sourceMappingURL=style.css.map */